{% extends 'layout.html' %}

{% block head-content %}
{% load static %}
    <script src="{% static 'js/addPost.js' %}" defer></script> 
{% endblock %}

{% block content %}
<h1>Add a post for: <strong>{{category.name}}</strong></h1>
<form onsubmit="createPost(event, '{{category.id}}')">
    <label for="title">Insert the title of your new post</label><br>
    <input id="title" type="text"><br>
    <label for="location">What area do you live?</label><br>
    <input type="text" id="location"><br>
    <label for="description">Please add a brief description</label><br>
    <input type="text" id="description"><br>
    <div class="py-1"></div>
    <Button type="submit">SUBMIT</Button>
</form>
{% endblock %}